//
   Created by ABC on 2/27/2015.

h2 USER SIGNUP
      form(method='post',action='/signup_user')
        | first_name :
        input(type='text', name='first_name')
        br
        | last_name :
        input(type='text', name='last_name')
        br
        | email :
        input(type='text', name='email')
        br
        | password :
        input(type='password', name='password')
        br
        | device_type :
        input(type='text', name='device_type')
        br
        | device_token :
        input(type='text', name='device_token')
        br
        | app_version :
        input(type='text', name='app_version')
        br
        input(type='submit',value='submit')
        br
    h2 USER LOGIN
    form(action='/login_user', method='post')
        | email :
        input(type='text', name='email')
        br
        | password :
        input(type='password', name='password')
        br
        | device_type :
        input(type='text', name='device_type')
        br
        | device_token :
        input(type='text', name='device_token')
        br
        | app_version :
        input(type='text', name='app_version')
        br
        input(type='submit',value='submit')
        br

    h2 Logout:
     form(action='/logout',method='post')
         |access token:
         input(type='text', name='access_token')
         input(type='submit',value='logout')
         br
